/*
 * Copyright 2017 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

body { 
  font-family: sans-serif;
  color: white;
}

.pink { background-color: pink !important }
.black { background-color: black !important }
.green { background-color: green !important }
.blue { background-color: blue !important }

.panel { 
  float: left; 
  margin-right: 1em;
}

.panel > div {
  margin: 0em;
  padding: .25em;
}

#parcours {
  border-collapse: collapse;
  font-family: monospace;
  width: auto;
  display: inline-block;
}

  #parcours .scrollWell {
    /*overflow: scroll;
    height: 100vh;*/
    overflow: auto;
  }

  .sector { 
    position:relative;
    color:      white;
    border:     1px solid black;
    list-style: none; 
    background-color: gray; 
    padding:    1em;
    float: left; 
  }


  .F {  }
  .H { background-color: blue; }
  .M { background-color: red; }
  .D { background-color: green; }

  .sector input[type="text"] { 
    padding:    .25em; 
    width:      2em; 
    text-align: center;
    margin:     0 0em;
    background-color: gray;
    color: white;
    font-weight: bold;
    display: block;
  }

  .sector .label { 
    position: absolute;
    top: 0; left: 0;
    background: #000;
  }

  li input.occupied {}

#gameState {
  color: black;
}

#teams {
  border: 1px solid black;
  display: inline-block;
}

#teams li { list-style: none }

.team { 
  border:   1px solid black; 
  margin:   1em;
  padding:  .5em;
  float: left; 
}

#actions { 
  color: black; 

}